{% if section.settings.background-color %}
    {% assign background_color = 'halo-section-background-gray' %}
{% endif %}

{% if section.settings.border-top %}
    {% assign border_top = 'halo-section-border-top' %}
{% endif %}

{% if section.settings.border-bottom %}
    {% assign border_bottom = 'halo-section-border-bottom' %}
{% endif %}

{% assign top = top | default: section.settings.top %}
{% assign bottom = bottom | default: section.settings.bottom %}

{% if section.settings.custom_color %}
<style>
    [data-section-id='{{ section.id }}'] .section-header .title {
        color: {{ section.settings.color_heading }};
    }

    [data-section-id='{{ section.id }}'] .section-header > p {
        color: {{ section.settings.color_text }};
    }

    [data-section-id='{{ section.id }}'] .section-header .btn {
        color: {{ section.settings.color_btn_text }};
        border-color: {{ section.settings.color_btn_border }};
        background-color: {{ section.settings.color_btn_bg }};
    }

    [data-section-id='{{ section.id }}'] .section-header .btn:hover {
        filter: brightness(85%);
    }
</style>
{% endif %}


<div class="halo-section padding-top-{{ top }} padding-bottom-{{ bottom }} {{ background_color }} {{ border_top }} {{ border_bottom }}" data-section-id="{{ section.id }}" data-section-type="image-with-text-1">
    <div class="container">
      
        <div class="debut-column-image-with-text">
            
                <div class="debut-column-image">
                    <div class="image-with-text text-center{% if block.settings.layout %} image-with-text--custom{% endif %}">
                        <div class="image-with-text__image image--hover">
                            {% assign img_url = section.settings.image | img_url: 'master' %}
                            {% assign img_url_2 = section.settings.image | img_url: '340x' %}
                            {% if section.settings.image != blank %}
                                <img class="lazyload"
                                    data-srcset="{{ img_url_2 }} 180w, {{ img_url }} 768w"
                                    data-sizes="auto" alt="" data-image>
                            {% else %}
                                <span class="recommended_size">Free size</span>
                                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                            {% if section.settings.link_url != blank %}
                                <a href="{{ section.settings.link_url }}" aria-label="link"></a>
                            {% endif %}
                        </div>
                     
                    </div>
                </div>
                <div class="debut-column-text">
                   <div class = "debut-text-content"> 
               <h2>{{section.settings.title}}</h2>
               <p>{{section.settings.description}}</p>
               <a href="{{ section.settings.link_url }}" class="link" aria-label="link">{{ section.settings.link }}</a>
               </div>
                </div>
        
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Image With Text 4",
    
    "settings": [
    {
        "type": "checkbox",
        "id": "layout",
        "label": "Layout Reverse"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Image With Text"
    },
    {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Image With Text"
    },
    {
        "type": "text",
        "id": "link",
        "label": "Link Text",
        "default": "shop now"
    },
    {
        "type": "url",
        "id": "link_url",
        "label": "Link Url(Optional)"
    }
    ],

    "presets": [
        {
            "name": "Image With Text description",
            "category": "Promotional"
           
        }
    ]
}
{% endschema %}