<div class = "container" style = "position:relative;margin-top:75px;">
    <h1 class = "recommend-title">{{section.settings.title}}</h1>
    <div class = "custom-arrows"></div>
    <div class = "row reccommend-slider">
        {% for block in section.blocks %}
        <div class = "col-4">
           
                {% assign img_url = block.settings.image | img_url: 'master' %}
                {% assign img_url_2 = block.settings.image | img_url: '340x' %}
                {% if block.settings.image != blank %}
                    <img class="lazyload"
                        data-srcset="{{ img_url_2 }} 380w, {{ img_url }} 768w"
                        data-sizes="auto" alt="" data-image>
                {% else %}
                    <span class="recommended_size">Free size</span>
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
                {% if block.settings.link_url != blank %}
                    <a href="{{ block.settings.link_url }}" aria-label="link"></a>
                {% endif %}
            <div class = "reccommend-text-content">    
            <h3>{{block.settings.title}}</h3>
            <p>{{block.settings.description}}</p>
           </div> 
        </div>
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Recommendations",
    "max_blocks": 20,
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
      
      
        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Image With Text"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "button",
            "label": "Button"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "Heading Color"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Color"
        },
        {
            "type": "color",
            "id": "color_btn_text",
            "label": "Button Color"
        },
        {
            "type": "color",
            "id": "color_btn_border",
            "label": "Button Border Color"
        },
        {
            "type": "color",
            "id": "color_btn_bg",
            "label": "Button Background Color"
        }
    ],
    "blocks": [
        {
            "type": "image_item",
            "name": "Another image",
            "settings": [
               
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Image With Text"
                },

                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "link",
                    "label": "Link Text",
                    "default": "shop now"
                },
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "Link Url(Optional)"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Recommendations",
            "category": "Products"
         
        }
    ]
}
{% endschema %}